:root{
    --color-bar: #333;
}
hr {
    border: none;
    height: 1px;
    background-color: bisque;
    margin: 20px 0;
}
body
{
    display: flex;
    flex-direction: column;
    font-family: Winky Rough, sans-serif;
    background-color: #1e1e1e;
    text-align: center;
    align-items: center;
    color: #FFFFFF;

}
.title{
    padding: 30px;
}

.add-new-task{
    display: flex;
    width: 500px;
    background-color: var(--color-bar);
    padding: 16px;
    border-radius: 1rem;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.add-new-task:hover{
    background-color: var(--color-bar);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
.add-new-task button{
    background-color: var(--color-bar);
    border: none;
}
.add-new-task input{
    background-color: var(--color-bar);
    border: none;
    color: white;
    font-size: 25px;
    width: 100%;
}
.add-new-task input:focus{
    outline: none;
}
.task-item {
    font-size: 25px;
    display: flex;
    width: 500px;
    justify-content: center;
    background-color: var(--color-bar);
    padding: 16px;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}
.task-item:hover {
    border: 1px solid white;
}
.task-item button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.task-item i {
    pointer-events: none;
}
.task-item p
{
 width: 100%;
}
p{
    text-align: left;
    margin:  0;
    padding-left:  10px
}
#checkbox:hover{
    background-color: green;
    color: white;
}
#deletebox:hover{
    background-color: red;
    color: white;
}
